.slideshow {
  padding: 5.9% 0%;
  margin: auto;
  overflow: hidden;
  max-width: 100%;
  height: 200vh;
  
}
.fade-in-image{
  opacity: 50%;
}
.fade-in-image:hover {
  opacity: 100%;
  transition: opacity 1s;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 127%;
  width: 100%;
  /* border-radius: 40px; */
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}